* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: unset !important;
}

body{
    font-family: "Poppins", sans-serif;
}

/* Header Start */
header{
    background-color: #2e2c41;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 7%
}
header span,
header a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: calc(0.55rem + 0.5vw);
}
header i{
    color: #d4ddff;
    margin-right: 0.4rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    header{
        padding: 0.68rem 7%
    }
    header span,
    header a{
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    header{
        padding: 0.55rem 7%
    }
    header span,
    header a{
        font-size: calc(0.48rem + 0.5vw);
    }
}
/* Header End */

/* Navbar Start */
.navbar {
    background-color: #fff;
    padding: 0.5rem 7%;
}
.navbar .navbar-brand img {
    width: 95px;
}
.navbar .navbar-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.5rem;
}
.navbar .nav-link {
    color: #000;
    font-weight: 600;
    font-size: calc(0.65rem + 0.5vw);
    padding: 0.6rem 1.5rem !important;
    border-radius: 30px;
}
.navbar .nav-link.active,
.navbar .nav-link:hover {
    color: #fff;
    background-color: #6f7cb1;
}
.navbar .social-btns {
    display: flex;
    gap: 1rem;
}
.navbar .social-btns a {
    background-color: #6f7cb1;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    display: block;
    color: #fff;
    font-size: calc(0.8rem + 0.5vw);
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    transition: all 0.2s ease;
}
.navbar .social-btns a:hover {
    background-color: #5a679b;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .navbar {
        padding: 0.45rem 7%;
    }
    .navbar .navbar-brand img {
        width: 85px;
    }
    .navbar .nav-link {
        font-size: calc(0.6rem + 0.5vw);
        padding: 0.57rem 1.5rem !important;
    }
    .navbar .social-btns a {
        width: 42px;
        height: 42px;
        line-height: 42px;
        font-size: calc(0.75rem + 0.5vw);
        border-top-right-radius: 11px;
        border-bottom-left-radius: 11px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .navbar {
        padding: 0.45rem 7%;
    }
    .navbar .navbar-brand img {
        width: 75px;
    }
    .navbar .nav-link {
        font-size: calc(0.55rem + 0.5vw);
        padding: 0.5rem 1.5rem !important;
    }
    .navbar .social-btns a {
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: calc(0.7rem + 0.5vw);
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}
/* Navbar End */

/* Banner Start */
.home-banner{
    position: relative;
}
.home-banner .carousel-item{
    transition: transform 1s ease-in-out; /* slide animation duration */
    position: relative;
}
.home-banner .carousel-item .banner-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7%;
    color: #fff;
    background-color: #00000080;
}
.home-banner .banner-content span{
    font-size: calc(4rem + 0.5vw);
    line-height: 1.4;
    font-weight: 600;
}
.home-banner .banner-content p{
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 500;
    margin-top: 2rem;
    width: 50%;
}
.home-banner .banner-content a{
    width: max-content;
}
.home-banner .banner-content button{
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 500;
    margin-top: 1rem;
    border: none;
    outline: none;
    padding: 0.5rem 2rem;
    background-color: #6f7cb1;
    color: #fff;
    border-radius: 2px;
    transition: all 0.2s ease;
}
.home-banner .banner-content button:hover{
    background-color: #5a679b;
}
/* Banner End */

/*  Feature Cards Start */
.feature-cards-row{
    padding: 0 7% 3rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -2rem;
    position: relative;
}
.feature-cards-row .feature-card{
    width: 31.7%;
    padding: 2rem 2rem 4rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
}
.feature-cards-row .feature-card img{
    width: 60px;
    z-index: 2;
}
.feature-cards-row .feature-card span{
    display: block;
    font-size: calc(0.9rem + 0.5vw);
    font-weight: 600;
    margin-top: 1.5rem;
    z-index: 2;
    transition: all 0.2s ease;
}
.feature-cards-row .feature-card p{
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0;
    z-index: 2;
    transition: all 0.2s ease;
}
.feature-cards-row .feature-card .overlay{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #6f7cb1;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
    transition: all 0.4s ease;
}
.feature-cards-row .feature-card:hover .overlay{
    width: 100%;
    height: 100%;
}
.feature-cards-row .feature-card:hover img{
    filter: brightness(0) invert(1);
}
.feature-cards-row .feature-card:hover span{
    color: #fff;
}
.feature-cards-row .feature-card:hover p{
    color: #fff;
}
/*  Feature Cards End */

/* About Start */
.about{
    padding: 3rem 7% 5.5rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about .about-image{
    width: 44%;
}
.about .about-image img{
    width: 100%;
    border-radius: 7px;
    box-shadow: #6f7cb190 10px 10px 2px;
}
.about .about-content{
    width: 49%;
}
.about .about-content span{
    font-size: calc(1rem + 0.5vw);
    font-weight: 650;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #2e2c41;
}
.about .about-content span i{
    font-size: calc(0.4rem + 0.5vw);
    margin-right: 0.6rem;
    color: #6f7cb1;
}
.about .about-content h1{
    font-size: calc(3rem + 0.5vw);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.about .about-content p{
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 420;
}
/* About End */

/* What We Do Start */
.what-we-do{
    padding: 5rem 7% 5rem 7%;
    background-color: #f8f8f8;
}
.what-we-do span{
    font-size: calc(1rem + 0.5vw);
    font-weight: 650;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #2e2c41;
}
.what-we-do span i{
    font-size: calc(0.4rem + 0.5vw);
    margin-right: 0.6rem;
    color: #6f7cb1;
}
.what-we-do h2{
    font-size: calc(3rem + 0.5vw);
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.what-we-do .swiper-wrapper{
    padding-bottom: 6rem;
}
.what-we-do .what-we-do-card{
    background-color: #fff;
    padding: 3rem 2rem;
    position: relative;
}
.what-we-do .what-we-do-card img{
    width: 60px;
}
.what-we-do .what-we-do-card span{
    display: block;
    font-size: calc(0.9rem + 0.5vw);
    font-weight: 600;
    margin-top: 1.7rem;
    text-transform: none;
}
.what-we-do .what-we-do-card p{
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0;
}
.what-we-do .what-we-do-card a{
    color: #2e2c41;
}
.what-we-do .what-we-do-card a:hover{
    color: #5a679b;
}
.what-we-do .what-we-do-card i{
    font-size: calc(1rem + 0.5vw);
    margin-top: 3rem;
}
.what-we-do .what-we-do-card::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #6f7cb1;
    transition: all 0.3s ease;
}
.what-we-do .what-we-do-card:hover::after{
    width: 100%;
}
.what-we-do .custom-nav {
  position: absolute;
  top: 90%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  cursor: pointer;
  z-index: 10;
}
.what-we-do .swiper-button-next::after,
.what-we-do .swiper-button-prev::after {
  content: '' !important;
  display: none !important;
}
.what-we-do .custom-nav i {
  font-size: 18px;
  color: #333;
  pointer-events: none;
}
.what-we-do .custom-nav:hover {
  background: #6f7cb1;
}
.what-we-do .custom-nav:hover i{
  color: #fff;
}
.what-we-do .swiper-button-prev{
    left: 89%;
}
.what-we-do .swiper-button-next{
    right: 1rem;
}
/* What We Do End */

/* Industry Cards Row Start */
.industry-cards-row{
    display: flex;
    flex-wrap: wrap;
}
.industry-cards-row .industry-card{
    width: 25%;
    overflow: hidden;
    position: relative;
}
.industry-cards-row .industry-card img{
    width: 100%;
}
.industry-cards-row .industry-card .layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2e2c416a;
    transition: all 0.2s ease;
}
.industry-cards-row .industry-card .layer a{
    color: #6f7cb1;
}
.industry-cards-row .industry-card .layer i{
    background-color: #fff;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: calc(0.8rem + 0.5vw);
    border-radius: 50%;
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    transform: rotate(-45deg);
    opacity: 0;
    transition: all 0.2s ease;
}
.industry-cards-row .industry-card .layer i:hover{
    transform: rotate(0);
}
.industry-cards-row .industry-card .layer span{
    color: #fff;
    font-size: calc(1rem + 0.5vw);
    font-weight: 600;
    position: relative;
    left: 3rem;
    top: 110%;
    opacity: 0;
    transition: all 0.4s ease;
}
.industry-cards-row .industry-card .layer:hover{
    background-color: #1d1c2dd0;
}
.industry-cards-row .industry-card .layer:hover i{
    opacity: 1;
}
.industry-cards-row .industry-card .layer:hover span{
    opacity: 1;
    top: 80%;
}
.industry-cards-row .industry-card::after{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #6f7cb1;
    opacity: 0;
    transition: all 0.2s ease;
}
.industry-cards-row .industry-card:hover::after{
    opacity: 1;
}
/* Industry Cards Row End */

/*  Clients Row Start */
.clients{
    display: flex;
    flex-wrap: wrap;
    padding: 0 7%;
    border-bottom: 2px solid #bdbdbd;
}
.clients .client-box{
    width: 20%;
    padding: 6rem 0;
    border-right: 2px solid #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients .client-box img{
    width: 120px;
    height: 100px;
    object-fit: contain;
}
.clients .client-box:first-child{
    justify-content: flex-start;
}
.clients .client-box:last-child{
    border-right: none;
    justify-content: flex-end;
}
/*  Clients Row End */

/* Project Counter Start */
.project-counter{
    padding: 5rem 7% 5.5rem 7%;
    margin-top: 6rem;
    background-color: #2e2c41;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project-counter .count-box{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-counter .count-box span{
    display: block;
    color: #ffffffcc;
    font-size: calc(5rem + 0.5vw);
    font-weight: 600;
}
.project-counter .count-box p{
    margin: 0;
    color: #fff;
    font-size: calc(1rem + 0.5vw);
    font-weight: 500;
}
/* Project Counter End */

/* Blogs Start */
.blogs{
    padding: 5rem 7% 6rem 7%;
}
.blogs span{
    font-size: calc(1rem + 0.5vw);
    font-weight: 650;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #2e2c41;
}
.blogs span i{
    font-size: calc(0.4rem + 0.5vw);
    margin-right: 0.6rem;
    color: #6f7cb1;
}
.blogs h3{
    font-size: calc(3rem + 0.5vw);
    margin-top: 2rem;
}
.blogs .blog-cards-row{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blogs .blog-cards-row .blog-card{
    width: 31%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}
.blogs .blog-cards-row .blog-card .blog-image{
    overflow: hidden;
}
.blogs .blog-cards-row .blog-card img{
    width: 100%;
    transition: all 0.3s ease;
}
.blogs .blog-cards-row .blog-card img:hover{
    scale: 1.05;
}
.blogs .blog-cards-row .blog-card .blog-desc{
    padding: 1.5rem 1rem;
}
.blogs .blog-cards-row .blog-card .blog-desc h4{
    font-size: calc(0.9rem + 0.5vw);
    font-weight: 600;
}
.blogs .blog-cards-row .blog-card .blog-desc p{
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0;
    color: #333;
}
.blogs .blog-cards-row .blog-card .blog-desc button{
    font-size: calc(0.55rem + 0.5vw);
    font-weight: 500;
    margin-top: 2rem;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    background-color: #6f7cb1;
    color: #fff;
    border-radius: 2px;
    transition: all 0.2s ease;
}
.blogs .blog-cards-row .blog-card .blog-desc button:hover{
    background-color: #5a679b;
}
/* Blogs End */

/* Footer Start */
footer{
    background-color: #2e2c41;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 5rem 7% 4rem 7%;
}
.footer-content .content-box:nth-child(1){
    width: 30%;
}
.footer-content .content-box .foot-logo img{
    width: 120px;
    border-radius: 7px;
}
.footer-content .content-box p{
    color: #fff;
    margin-top: 1.5rem;
    font-size: calc(0.55rem + 0.5vw);
    font-weight: 400;
}
.footer-content .content-box span{
    color: #fff;
    font-size: calc(0.9rem + 0.5vw);
    font-weight: 600;
    display: block;
    margin-bottom: 2rem;
}
.footer-content .content-box a{
    color: #fff;
    font-size: calc(0.55rem + 0.5vw);
    display: block;
    margin-bottom: 0.5rem;
    text-decoration: none;
    transition: all 0.2s ease;
}
.footer-content .content-box a i{
    margin-right: 10px;
}
.footer-content .content-box a:hover{
    color: #93a5ec;
}
.footer-content .content-box .social-btns {
    display: flex;
    gap: 1rem;
}
.footer-content .content-box .social-btns a {
    background-color: #6f7cb1;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    display: block;
    color: #fff;
    font-size: calc(0.8rem + 0.5vw);
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    transition: all 0.2s ease;
}
.footer-content .content-box .social-btns a:hover {
    background-color: #5a679b;
}
.footer-content .content-box .social-btns a i {
    margin: 0;
}
.footer-copyright{
    background-color: #5a679b;
    padding: 1rem 0;
}
.footer-copyright p{
    margin: 0;
    text-align: center;
    color: #fff;
    font: calc(0.55rem + 0.5vw);
    font-weight: 400;
}
/* Footer End */